You are given a dataframe (df) of students, and you need to assign grades to each student. The table schema is as follows:

Column name	Data type	Example value	Description
student_name	string	Cindy Chu	Name of student
student_id	integer	1837204	Unique id for each student
class	string	Biology	Name of class
final_grade_pct	integer	80	final grade for class represented in percent

In [13]:
import pandas as pd
import numpy as np
import scipy

In [11]:
grade_dict = {'id': [1,2,3,4,5,6,7,8]
              , 'grade': (scipy.random.beta(1, 1, 8) * 100)
            }
grade_df = pd.DataFrame(grade_dict)
# display
grade_df

       grade  id
0   7.498657   1
1  91.616210   2
2  22.312410   3
3  41.141652   4
4   6.007367   5
5   3.335334   6
6  89.442332   7
7  49.286638   8

In [20]:
# loop through the dataframe, assigning grades and making a new column with it
def grade_assign(row):
    
    """utilize case-when logic to assign grades"""
    if row['grade'] > 90:
        return 'A'
    elif row['grade'] <= 90 and row['grade'] >= 81:
        return 'B'
    elif row['grade'] < 81 and row['grade'] >= 70:
        return 'C'
    else:
        return 'D'
    
grade_df['letter_grade'] = grade_df.apply(grade_assign, axis=1)

In [21]:
grade_df

       grade  id letter_grade
0   7.498657   1            D
1  91.616210   2            A
2  22.312410   3            D
3  41.141652   4            D
4   6.007367   5            D
5   3.335334   6            D
6  89.442332   7            B
7  49.286638   8            D

In [40]:
from functools import reduce

def factorial(num):
    """returns the factorial of a number"""
    if num in (0, 1):
        return 1
    else:
        hold_list = [i for i in range(num, 1, -1)]
        return reduce(lambda x, y: x*y, hold_list)

In [44]:
factorial(5)

120

In [50]:
num = 5

for i in range(num - 1, 1, -1):
    num = num * i
    
print(num)

120

In [71]:
def factorial(num):
    """returns the factorial of a number"""
    _num = num
    
    assert num >= 0, "Inputted number must be >= 0"
    
    if num in (0, 1):
        return 1

    else:
        for i in range(num - 1, 1, -1):
            _num = _num * i
        return _num

In [75]:
factorial(5)

120

1